body {
    margin: 0;
}
header {
    margin: 0;
    background-color: blue;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading {
    margin: 0;
    font-family: Arial;
    color: white;
    display: inline;
}
.x {
    float: right;
    background-color: lightgrey;
    border: lightgrey;
}
.homeworkLabel {
    display: inline-block !important;
    width: 90% !important;
    margin: 0 !important;
    border-bottom: solid 1px lightgrey !important;
}
h3 {
    text-align: left;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: solid grey 1px;
}
#aHeader {
    text-decoration: none;
}
.class {
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
    background: lightgrey;
    margin: 20px 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    font-family: Arial;
}
.class:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="text"] {
    background-color: lightgrey;
    border: lightgrey 0;
    outline: 0;
    width: 100%;
    border-bottom: solid grey 1px;
    margin-top: 20px;
    padding-bottom: 3px;
    line-height: 20px;
    font-size: 16px;
}
#plus {
    width: 7.5vw;
    height: 7.5vw;
    outline: none;
    line-height: normal;
    border-radius: 100%;
    background-color: blue;
    border: transparent;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 4.8vw;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#plus:hover {
    background-color: #3498DB;
    cursor: pointer;
}
.popup {
    z-index: 11;
    font-family: Arial;
    background-color: white;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 17.361vw;
    padding: 10px;
    visibility: hidden;
}
.popup.animate-popup {
    animation: popup 0.6s;
}
@keyframes popup {
    from {
        transform: translateY(-50%) scale(0)
    }
    to {
        transform: translateY(-50%) scale(1)
    }
}
#popup-background {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    visibility: hidden;
}
#bottom-popup{
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}
#textfield-popup{
    padding: 0 10px;
    margin-bottom: 20px;
}
#name-textfield-popup {
    padding: 0 10px;
}
#checkbox-removeClass-popup {
    padding: 0 10px;
}
#title-popup {
    height: 20px;
    font-size: 20px;
    color: black;
    border-bottom: solid grey 1px;
    padding: 10px;
    margin: 10px;
}
#addClass {
    width: 100%;
    height: 60px;
    border: transparent;
    background-color: blue;
    border: transparent;
    box-sizing: border-box;
    color: white;
    outline: none;
    font-size: 20px;
}
#label-popup {
    padding: 5px 10px;
    border-bottom: transparent;
}
#menu-bar {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    float: right;
    color: white;
    outline: none;
    font-size: 30px;
}
input[type="checkbox"] {
    vertical-align: top;
    position: relative;
    top: 15px;
}
textarea {
    overflow: hidden;
    position: relative;
    top: 6px;
    border: transparent;
    background-color: transparent;
    resize: none;
    height: 25px;
    padding-top: 5px;
    vertical-align: sub;
    outline: none;
    font-size: 20px;
}
#bar-setting {
    text-align: center !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 13;
    height: 100vh;
    width: 40vh;
    float: right;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    visibility: hidden;
}
#top-menu {
    padding: 20px 10px 30px;
    margin: 0 10px;
    border-bottom: solid grey 1px;
}
#cancel-menu {
    float: right;
    background-color: transparent;
    font-family: Arial;
    font-size: 16px;
    color: black;
    outline: none;
    cursor: pointer;
    border: transparent;
}
#bar-setting.animate-menu {
    animation: barsetting 0.6s;
}
@keyframes barsetting {
    from {
        position: absolute;
        right: -40vh;
    }
    to {
        position: absolute;
        right: 0vh;
    }
}
.removeClassCB {
    position: static !important;
    vertical-align: default !important;
    margin: 1.389vh 0 0 0;
}
#addClass:hover {
    opacity: 0.9;
    cursor: pointer;
}
#addClass:active {
    opacity: 0.7;
}
.popup-text {
    border: transparent !important;
    background-color: transparent !important;
    outline: 0 !important;
    width: 100% !important;
    border-bottom: solid grey 1px !important;
    padding-left: 10px !important;
    line-height: 50px !important;
    font-size: 20px !important;
}
.menuItems {
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    border: transparent;
    background-color: transparent;
}
#removeClass-menu:hover {
    opacity: 0.6;
}
.removeCheckbox-label {
    margin: 0 0 0 5px;
    font-size: 2.78vh;
}
#x-div-popup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 15px 0 0;
}
#x-popup {
    width: 100%;
    font-size: 1.5vw;
    background-color: transparent;
    border: transparent;
    visibility: hidden;
    cursor: pointer;
}
#x-popup-removeClass {
    width: 100%;
    font-size: 1.5vw;
    background-color: transparent;
    border: transparent;
    visibility: hidden;
    cursor: pointer;
}
